@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

* {
    font-family: "Changa", sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
    background-color: #22668A;
}

.category-active {
    background-color: #22668A;
    color: #fff;
}

code {
    font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", Monospaced;
}